/**
 * Style tweaks for page-wide Banner in WikidataPageBanner extension for Skin Minerva.
 */
@import 'mediawiki.skin.variables.less';
@import 'mediawiki.mixins.less';

.wpb-topbanner {
	max-height: none;
	height: 180px;
	overflow: hidden;
	background-color: @background-color-interactive-subtle;
	border-bottom: @border-width-base @border-style-base rgba( 0, 0, 0, 0.2 );

	&.wpb-banner-image-panorama .wpb-banner-image {
		width: auto;
		height: 100%;
	}
}

.ext-wpb-pagebanner {
	clear: both;
	margin: 0;
}
