<div class="noprint">
	<div class="ext-wpb-pagebanner">
		<div class="topbanner">
			<div class="name">{{title}}</div>
			<a title="{{tooltip}}" href={{bannerfile}}><img src={{banner}} srcset="{{srcset}}" class="banner-image"></a>
			<div class="iconbox">
				{{#icons}}
					{{{icon}}}
				{{/icons}}
			</div>
			<div class="topbanner-toc"></div>
		</div>
	</div>
</div>
