<div class="ext-wpb-pagebanner noprint pre-content">
	<div class="wpb-topbanner">
		{{#isHeadingOverrideEnabled}}<h1 class="wpb-name">{{title}}</h1>{{/isHeadingOverrideEnabled}}
		<a class="image" title="{{tooltip}}" href="{{bannerfile}}"><img src="{{banner}}" srcset="{{srcset}}" class="wpb-banner-image {{originx}}" data-pos-x="{{data-pos-x}}" data-pos-y="{{data-pos-y}}" style="max-width:{{maxWidth}}px"></a>
		{{#hasIcons}}
		<div class="wpb-iconbox">
			{{#icons}}
				<a href="{{url}}">{{{html}}}</a>
			{{/icons}}
		</div>
		{{/hasIcons}}
	</div>
	<div class="wpb-topbanner-toc {{#bottomtoc}}wpb-bottomtoc{{/bottomtoc}}"><div class="wpb-banner-toc">{{{toc}}}</div></div>
</div>
